<h1 id="header">Yiddish Sayings Game</h1>

<div class="container">
  <%= erb :_question, :layout => false %>
</div>

<footer>Created by <a href="https://github.com/Ank13">Ank13</a>

<p class="credits">Thanks to Shira for ideas and testing, to
  <a href="https://github.com/quackingduck">QuackingDuck</a> for super-helpful code reviews,
  and <a href="http://kehillatisrael.net/docs/yiddish/yiddish_pr.htm">Kehillat Israel</a>
  whose site I scraped.
  Feel free to fork on <a href="https://github.com/Ank13/yiddish-ipsum">Github</a>
</p>
