<div class="header">

</div>

<div class="container">
  <h1>Yiddish Sayings Game</h1>

  <h3><%= @question %> </h3>
  <form action="/nu" method="post">
    <% @answers.each do |answer|  %>
      <input type="radio" name="user_choice" value="<%=answer[0]%>"><%= answer[1]%><br>
    <% end %>
    <input type="submit" value="submit" class="regular-button">
  </form>
  <!-- TODO: skip question button-->

  <% if @result %>
    <h3>Your previous guess was: <br>
      <% if @result == :correct %>
        Correct!
      <% end %>
      <% if @result == :incorrect %>
        Wrong, the correct answer was: <%=@previous_answer %>
      <% end %>
    </h3>
  <% end %>

</div>

