<h1 id="header">Yiddish Sayings Game</h1>

<div class="container">
  <%= erb :_question, :layout => false %>
</div>

<div class="results">

  <div id="results"></div>
  <p>
    Answered correctly: <span data-answered-correct type="text">0</span><br>
  </p>
</div>


<footer>Created by <a href="https://github.com/Ank13" target="_blank">Ank13</a>

<p class="credits">Thanks to Shira for ideas and testing, to
  <a href="https://github.com/quackingduck" target="_blank">QuackingDuck</a> for super-helpful code reviews,
  and <a href="http://kehillatisrael.net/docs/yiddish/yiddish_pr.htm" target="_blank">Kehillat Israel</a>
  whose site I scraped.
  Feel free to fork on <a href="https://github.com/Ank13/yiddish-ipsum" target="_blank">Github</a>
</p>
