<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yiddish Ipsum</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
  <div class="container">
    <h3>As we say...</h3>
    <p><%= @saying.last %></p>
    <p><%= @saying.first %></p>
  </div>
</body>
</html>
