<div class="header">
  <h2>Nu, what's it mean?</h2>
</div>

<div class="container">
  <h3> <%= @question %> </h3>

  <form action="/nu" method="post">

      <% @answers.each do |answer|  %>
        <p><%= answer %></p>
      <% end %>

    <input type="submit" value="submit" class="regular-button">

  </form>
  <!-- TODO: skip question button-->

</div>
