<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h3>As we say...</h3>
  <p><%= @saying.last %></p>
  <p><%= @saying.first %></p>
</body>
</html>
