<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yiddish Sayings Game</title>

  <!-- Selected Google fonts: -->
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'
  media="screen and (min-width: 40.5em)">
  <link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>

  <!-- CSS Style Sheet -->
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <!-- Responsive CSS with media queries-->
    <link rel="stylesheet" type="text/css" href="../css/mobile.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen and (min-width: 40.5em)" />

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='/js/main.js'></script>

  <!-- favicon -->
  <link rel="icon" type="image/jpeg" href="../images/bagel.jpeg">

  <!-- setting viewport to device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Google Analytics tracking -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43051829-1', 'herokuapp.com');
    ga('send', 'pageview');
  </script>

</head>
<body>
  <%= yield %>
</body>
</html>
