<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yiddish Sayings Game</title>

  <!-- Selected Google fonts: -->
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>

  <!-- CSS Style Sheet -->
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <!-- Responsive CSS with media queries-->
    <link rel="stylesheet" type="text/css" href="../css/mobile.css" media="screen, handheld" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen and (min-width: 40.5em)" />
    <!--[if (lt IE 9)&(!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <![endif]-->

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='/js/main.js'></script>

  <!-- favicon -->
  <link rel="icon" type="image/jpeg" href="../images/bagel.jpeg">

  <!-- setting viewport to device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
  <%= yield %>
</body>
</html>
