<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yiddish Sayings Game</title>

  <!-- Selected Google fonts: -->
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>

  <!-- CSS Style Sheet -->
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='/js/main.js'></script>

  <!-- favicon -->
  <link rel="icon" type="image/jpeg" href="../images/bagel.jpeg">

</head>
<body>
  <%= yield %>
</body>
</html>
