h1, h2 {
  font-family: 'Finger Paint', cursive;
  font-size: 1.5em;
}

h3, h4 {
  font-family: 'Fauna One', serif;
  margin: 30px 0 0 0;
}

.container {
  margin: 2% auto;
  padding: 20px;
  width: 80%;
  color: white;
  font-family: 'Fauna One', serif;
}

.game-button{
  width: 600px;
  height: auto;
}

/* Footer */

footer a:hover {
  background: #fff;
  color: #34495e;
}
