body{
  background-color: #34495e;
  /*background-image: url('../images/witewall_3.png');*/
}

h1, h2, h3, h4 {
  /*font-family: 'Fugaz One', cursive;*/
  font-family: 'Finger Paint', cursive
}

.container {
  margin: auto;
  margin-top: 2%;
  padding: 20px;
  width: 70%;
  color: white;
  font-family: 'Fauna One', serif;
}

input {
  margin: 5px;
}
.header {
  margin: 0 auto;
  padding: 0;
  margin-top: 3%;
  /*width: 70%;*/
  color: white;
  font-size: 20px;
  font-family: 'Fauna One', serif;
}

.header h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.regular-button{
  border-radius: 5px;
  /*font-family: 'Fugaz One', cursive;*/
  background-color: black;
  color: white;
  margin: 10px 0;
}

form {
  margin: 40px 0;
}

.form-element{
  margin: 10px 0;
}

.small{
  font-family: 'Fauna One', serif;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  padding: 0;
}
