body{
  background-color: #34495e;
  /*background-image: url('../images/witewall_3.png');*/
}

h1, h2, h3, h4 {
  font-family: 'Fugaz One', cursive;
}

.container {
  /*background: white;*/
  background-image: url('../images/witewall_3.png');
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  width: 70%;
  color: black;
  font-family: 'Fauna One', serif;
  /*box-shadow: 10px 10px 5px #888888;*/
}

.header {
  margin: auto;
  margin-top: 5%;
  /*width: 70%;*/
  color: white;
  font-size: 20px;
  font-family: 'Fauna One', serif;
}

.header

.regular-button{
  border-radius: 5px;
  /*font-family: 'Fugaz One', cursive;*/
  background-color: black;
  color: white;
  margin: 10px 0;
}

form {
  margin: 40px 0;
}

.form-element{
  margin: 10px 0;
}

.small{
  font-family: 'Fauna One', serif;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  padding: 0;
}
